.yt-search {
  text-align: center;
}

.yt-nav-bar {
  margin-top: 10px;
}

.yt-video-info {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid rgb(230, 227, 227);
}

.yt-video-item {
  cursor: pointer;
  border-bottom: 1px solid rgb(190, 189, 189);
  margin-bottom: 5px;
}

.yt-video-item:hover {
  background-color: rgba(252, 247, 247, 0.5);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ui.input {
  width: 75%;
}

.ui.floated.image, .ui.floated.images {
  margin: 0px 5px 5px 0px;
}

.ui.small.image {
  width: 200px;
}
